:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  @tailwind base;
@tailwind components;
@tailwind utilities;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o corpo tenha pelo menos 100% da altura da tela */
}
footer {
  margin-top: 10px; /* Empurra o footer para o final */background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}